<header>
    <h1>Lista de Productos</h1>
</header>
<div id="container-items">
    {{#each data.docs}}
    <div id="item">
        <div id="nameAndDescrip">
            <h4>{{this.nombre}}</h4>
            <p id="description">{{this.descripcion}}</p>
        </div>
        <div id="priceAndBtn">
            <p id="price">${{this.precio}}</p>
            <button id="btnCart">agregar al carrito</button>
        </div>
    </div>
    {{/each}}
</div>
<div id="containerBtnPagginate">
    {{#if data.prevPage}}
    <a class="btnPagginate" href="/realtime_products/{{data.prevPage}}">Anterior</a>
    {{/if}}
    
    
    
    {{#if data.nextPage}}
    <a  class="btnPagginate" href="/realtime_products/{{data.nextPage}}">Siguiente</a>
    {{/if}}
</div>